<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <%= link_to image_tag("diagnostikare_logo.png", class: "nav-link", size: "250x70", alt: "Logo"), root_path %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <%= link_to "Doctors", doctors_path, class: "nav-link", id:"navbar-text" %>
        <%= link_to "My appointments", appointments_path, class: "nav-link", id:"navbar-text" %>
        <%= link_to "Add Symptoms", new_appointment_path, class: "nav-link", id:"navbar-text" %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link", id:"navbar-text" %>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link", id:"navbar-text" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
