<p id="notice"><%= notice %></p>
<h1>Doctores disponibles</h1>
<div class="container mt-3">
  <div class="row">
    <% @doctors.each do |doctor| %>
      <div class="col-4">
        <div class="doc-card">
         <div class="doc-card-image" style="background-image: url('https://bootdey.com/img/Content/avatar/avatar7.png')"></div>
          <div class="doc-card-content">
            <div class="doc-card-title">
              <h4><%= doctor.name %></h4>
            </div>
            <p><i class="fas fa-map-marker-alt mr-2"></i><%= doctor.address %></p>
            <div class="flex">
              <div class="flex">
               <p><i class="fas fa-stethoscope"></i><span>&nbsp;<%= doctor.specialty %></p>
              </div>
              <div class="flex ml-3">
                <p><i class="fas fa-star mr-2"></i><%= doctor.rating %></li></p>
              </div>
            </div>
          </div>
          <div class="doc-card-actions">
            <i class="fas fa-info-circle"></i>&nbsp;&nbsp;<%= link_to 'Mas Informacion', doctor %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
