<p id="notice"><%= notice %></p>
<br>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <h1>My appointments</h1>
      <div class="d-flex justify-content-end mb-3"><button class="btn btn-dark"><%= link_to 'Book an Appointment', new_appointment_path, style: "color: white;" %></button></div>
      <br>
      <% @appointments.each do |appointment| %>
        <div class="card text-center">
          <div class="card-header" style="background-color:white;">
            Appointment with: Dr <%= appointment.doctor.name %>
          </div>
          <div class="card-body">
            <p class="card-text"><%= appointment.symptoms %></p>
          </div>
          <div class="card-footer" style="background-color:white;">
            <button class="btn btn-dark"><i class="fas fa-edit mr-2">&nbsp;<%= link_to ' Edit', edit_appointment_path(appointment), style:"color:white;" %></i></button>
            <button class="btn btn-dark"><i class="fas fa-trash-alt mr-2">&nbsp;<%= link_to ' Delete', appointment, method: :delete, data: { confirm: 'Are you sure?' }, style:"color:white;" %></i></button>
            <button class="btn btn-dark"><i class="fas fa-info-circle mr-2">&nbsp;<%= link_to ' More info', appointment, style:"color:white;" %></i></button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
