<p id="notice"><%= notice %></p>

<p>
  <strong>Symptoms:</strong>
  <%= @appointment.symptoms %>
</p>

<p>
  <strong>User:</strong>
  <%= @appointment.user_id %>
</p>

<p>
  <strong>Doctor:</strong>
  <%= @appointment.doctor_id %>
</p>

<% if @appointment.photos.attached? %>
  <% @appointment.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %> 
  <% end %>
<% end %>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
